<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sửa nhà sản xuất</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Sửa nhà sản xuất</h3>
                <div class="panel-body">
                    <div class="position-center">
                        <form action="/edit_producers_save" method="post">
                            <div class="form-group">
                                <input name="producerId" value="<%= danhsach._id %>" type="hidden" class="form-control">
                                <label>Tên nhà sản xuất</label>
                                <input name="producerName" value="<%= danhsach.producerName %>" type="text" class="form-control" placeholder="Tên nhà sản xuất">
                            </div>
                            <a href="/admin_producers"><button type="button" class="btn btn-info" ><i class="fa-solid fa-arrow-left-long"></i> Quay lại</button></a>
                            <button type="submit" class="btn btn-success">Sửa</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <!--main content end-->

</section>
    <%- include('../partials/footer') %>
</body>
</html>

