<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bảo mật</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Thay đổi mật khẩu</h3>
                <form action="/adminSaveNewPw" method="post">
                <div class="security-input">
                    <%if(password1Error.length > 0){%><p style="font-size: 14px; font-weight:600; color: red; margin: 12.5px 0px 0px 5px;"><%= password1Error %></p><%}%>
                    <input class="password_field box-inputPwd" id="password" type="password" name="password1" value="<%= password1ED %>">
                    <label for="password" class="password_label">Nhập mật khẩu cũ</label>
                    <i class="fa-regular fa-eye-slash eyye eye-close"></i>
                    <i class="fa-regular fa-eye eyye eye-open hidden"></i>
                </div>
                <div class="security-input">
                    <%if(passwordError.length > 0){%><p style="font-size: 14px; font-weight:600; color: red; margin: 12.5px 0px 0px 5px;"><%= passwordError %></p><%}%>
                    <input class="password_field box-inputPwdd" id="password" type="password" name="password" value="<%= passwordED %>">
                    <label for="password" class="password_label">Nhập mật khẩu mới</label>
                    <i class="fa-regular fa-eye-slash eyye eye-closee"></i>
                    <i class="fa-regular fa-eye eyye eye-openn hidden"></i>
                </div>
                <div class="security-input">
                    <input class="password_field boxx-inputPwd" id="password" type="password" name="password2">
                    <label for="password" class="password_label">Nhập lại mật khẩu mới</label>
                    <i class="fa-regular fa-eye-slash eyye eyee-closee"></i>
                    <i class="fa-regular fa-eye eyye eyee-openn hidden"></i>
                </div>
                <div></div>
                <button type="submit" class="passwordbtn-update">Cập nhật</button>
                </form>
            </div>
        </section>
    </section>
    <!--main content end-->
    <%- include('../partials/footer') %>
</body>

<script type="text/javascript">
    const inputPwd = document.querySelector(".box-inputPwd");
    const eyeOpen = document.querySelector(".eye-open");
    const eyeClose = document.querySelector(".eye-close");

    const inputPwdd = document.querySelector(".box-inputPwdd");
    const eyeOpenn = document.querySelector(".eye-openn");
    const eyeClosee = document.querySelector(".eye-closee");
    
    const inputtPwd = document.querySelector(".boxx-inputPwd");
    const eyeeOpen = document.querySelector(".eyee-openn");
    const eyeeClose = document.querySelector(".eyee-closee");

    eyeOpen.addEventListener("click", function(){
        eyeOpen.classList.add("hidden");
        eyeClose.classList.remove("hidden");
        inputPwd.setAttribute("type","password");
    })

    eyeClose.addEventListener("click", function(){
        eyeOpen.classList.remove("hidden");
        eyeClose.classList.add("hidden");
        inputPwd.setAttribute("type","text");
    })

    eyeOpenn.addEventListener("click", function(){
        eyeOpenn.classList.add("hidden");
        eyeClosee.classList.remove("hidden");
        inputPwdd.setAttribute("type","password");
    })

    eyeClosee.addEventListener("click", function(){
        eyeOpenn.classList.remove("hidden");
        eyeClosee.classList.add("hidden");
        inputPwdd.setAttribute("type","text");
    })

    eyeeOpen.addEventListener("click", function(){
        eyeeOpen.classList.add("hidden");
        eyeeClose.classList.remove("hidden");
        inputtPwd.setAttribute("type","password");
    })

    eyeeClose.addEventListener("click", function(){
        eyeeOpen.classList.remove("hidden");
        eyeeClose.classList.add("hidden");
        inputtPwd.setAttribute("type","text");
    })

</script>

</html>

